h1 {
    font-family: 'Arial', sans-serif;
}


#upload-panel-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
    height: auto;
    background: rgba(200, 200, 255, 0.2);
    padding: 1em;
}

#column-mapping-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
    height: auto;
    background: rgba(255, 200, 200, 0.2);
    padding: 1em;
}

div.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    height: 200px;
}

.worksheet-selector-container {
    margin-top: 1em;
    visibility: hidden;
}

#column-mapping-container {
    position: relative;
}

.columns-container {
    position: relative;
}

.columns-container table {
    position: relative;
}

.column-cell:hover {
    background-color: #f0f0f0;
    cursor:cell;
}

.column-cell.selected {
    background-color: #ccccff;
}

